# --- Frontend & GUI ---
streamlit
plotly
matplotlib
protobuf==3.20.3
# --- Core ML & DL ---
tensorflow
torch>=1.13.1
torchvision>=0.14.1
scikit-learn
pandas
numpy
Pillow

# --- NLP (Transformers) ---
transformers
safetensors
huggingface-hub

# --- Audio & Vision ---
librosa
scipy
opencv-python

# --- API & Server ---
fastapi
uvicorn[standard]
python-multipart

# --- MLOps ---
dvc
mlflow

# --- Testing ---
requests

